commands:
  copy_key_cert:
     command: |
       aws s3 cp s3://ssl-certbucket/server.key /etc/pki/tls/certs/server.key
       aws s3 cp s3://ssl-certbucket/server.crt /etc/pki/tls/certs/server.crt
       chown root:root /etc/pki/tls/certs/server.crt /etc/pki/tls/certs/server.key
       chmod 400 /etc/pki/tls/certs/server.crt /etc/pki/tls/certs/server.key
